.logo {
    margin: 0 auto;
    padding: 3px;
    display: block;
    width: 100%;
    text-align: center;
    transition: 0.7s;
}
.logoText {
    margin-top: -0px;
}
.logoText h1,h2{
    margin: 0;
}
.logoText h2{
    text-decoration: none;
    color: orangered;
}
.logo a, .logoOne a {
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
}
.logoText hr{
    color: orangered;
    height: 2px;
    background-color: orangered;
}