*{
    margin: 0%;
    padding: 0%;
}

.header-main{
    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1%;
    font-size: small;
}
.header .logo{
    height: 200px;
    width: 150px;
}
.header .logo-name pre{
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    font-weight: 700;
    font-size: 150%;
    color: rgb(55, 0, 219);
    padding: 1%;
}
.header .contact-header{
    display: flex;
    flex-direction: column;
    font-size: small;
    gap: 10px;
    color: red;
    min-width: 25%;
    max-width: 25%;
}
hr{
    width: 75%;
}


@media (max-width:700px) {

    .header{
        display: flex;
        flex-direction: column;
    }
    .logo-name pre{
        font-size:45px;
    }
    .contact-header{
        display: none;
    }
}