.hover-effect:hover {
    background-color: transparent;
    border: 1px solid orangered;
    color: orangered;
}
.NavBar {
    display: flex;
    flex-direction: column;
    align-items: auto;
    padding-left: 30px;
    margin-top: 20px;
    margin-right: 190px;
    margin-left: 230px;
    background-color: aliceblue;
}
